apiVersion: v1
kind: Service 
metadata:
  name: rgirodonnodejsfirst-service 
spec:
  type: NodePort
  selector:
    app: rgirodonnodejsfirst

  ports:
    # Three types of ports for a service
    # nodePort - a static port assigned on each the node
    # port - port exposed internally in the cluster
    # targetPort - the container port to send requests to
    - nodePort: 30163
      port: 80 
      targetPort: 8080